{% extends "layouts/master.template" %}

{% block title %}{{ title }} - Backup - {{ destination.FriendlyName }}{% end %}

{% block content %}
    <div>
        <h3>Remote Host: {{ destination.FriendlyName }}</h3>

    </div>
{% end %}