    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li id="{{ handler.application.named_handlers['Server_Index'].handler_class.__name__ }}"><a href="{{ reverse_url("Server_Index", server_id) }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li id="{{ handler.application.named_handlers['Server_Players'].handler_class.__name__ }}"><a href="{{ reverse_url("Server_Players", server_id) }}"><i class="fa fa-users"></i> Players</a></li>
            <li id="{{ handler.application.named_handlers['Server_Console'].handler_class.__name__ }}"><a href="{{ reverse_url("Server_Console", server_id) }}"><i class="fa fa-terminal"></i> Console</a></li>
            <li id="{{ handler.application.named_handlers['Server_Properties'].handler_class.__name__ }}"><a href="{{ reverse_url("Server_Properties", server_id) }}"><i class="fa fa-edit"></i> Properties</a></li>
        </ul>
    </div>