<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../static/css/style.css" rel="stylesheet" media="screen">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../../static/css/jquery.dataTables.css" rel="stylesheet" media="screen">
    <link href="../../static/css/select2.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
</head>
<body>
{% include "../includes/navbar.template" %}
<div class="container">
    <div class="col-md-12">
        <br>
        <button type="button" id="refreshTable" class="btn btn-primary pull-right"><i id="refreshTableIcon" class="icon-refresh"></i></button>
        <ul class="nav nav-pills">
            <li><a href="/admin/">Admin Home</a></li>
            <li class="active"><a href="users">User Management</a></li>
        </ul>
        <br>
        <table id="userTable" class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Admin</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table><br>
        <form class="form-inline" role="form">
            <button id="addUserShow" type="button" class="btn btn-success">Add user</button>

            <div id="addUserForm" style="display: inline;">
                <div class="form-group">
                    <input type="text" class="form-control" id="addUserUserName" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="addUserPassword" placeholder="Password" required>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="addUserAdminCheckbox"> Admin
                    </label>
                </div>
                <button id="addUserSubmit" type="button" class="btn btn-success">Submit</button>
            </div>

            <button id="deleteUserShow" type="button" class="btn btn-danger">Delete User</button>
            <div id="deleteUserForm" style="display: inline;">
                <div class="form-group">
                    <div class="select2-drop-mask" style="width: 200px;" id="deleteUserSelect"></div>
                    <button id="deleteUserSubmit" type="button" class="btn btn-danger">Submit</button>
                </div>
            </div>

        </form>
        <br><div id="userAlert"></div>
    </div>
</div>
<script src="../../static/js/jquery-2.0.3.min.js"></script>
<script src="../../static/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery.dataTable.fnReloadAjax.js"></script>
<script src="../../static/js/bootbox.min.js"></script>
<script src="../../static/js/select2.min.js"></script>
<script>
    $(function(){
        $("#addUserForm").hide();
        $("#deleteUserForm").hide();
        $("#deleteUserSelect").select2({
            placeholder: "Select a username",
            ajax: {
                url: "ajax/getUsers",
                dataType: "json",
                type: "post",
                results: function (data, page) {
                    return { results: data.results }
                }
            }
        });
        $("#deleteUserSubmit").click(function(){
            var user = $("#deleteUserSelect").val();
            console.log(user);
            if(user != ""){
                bootbox.confirm("<p class=\"text-danger\">Do you wish to delete user, " + user + "?</p>", function(result){
                    if(result){
                        $.post("ajax/deleteUser", {'user': user})
                        .done(function(data){
                            if(data['result']['success']){
                                usersTable.fnReloadAjax();
                                $("#deleteUserSelect").select2('data', null);
                            } else {
                                $("#userAlert").addClass("alert alert-danger").text(data['result']['message']).hide().fadeIn()
                            }
                        })
                    }
                })
            }
        });
        $("#addUserShow").click(function(){
            $("#addUserForm").fadeToggle();
        });
        $("#deleteUserShow").click(function(){
            $("#deleteUserForm").fadeToggle();
        });
        $("#addUserSubmit").click(function(){
            $.post("ajax/addUser", {'username': $("#addUserUserName").val(), 'password': $("#addUserPassword").val(), 'is_admin': $("#addUserAdminCheckbox").prop("checked")})
            .done(function(data){
                if(data['result']['success']){
                    usersTable.fnReloadAjax();
                    $("#addUserForm").fadeToggle();
                    $("#addUserUserName").val("");
                    $("#addUserPassword").val("");
                    $("#addUserAdminCheckbox").prop("checked", false);
                } else {
                    $("#userAlert").addClass("alert alert-danger").text(data['result']['message']).hide().fadeIn()
                }
            })
        });
        var usersTable = $("#userTable").dataTable({
            "sAjaxSource": 'ajax/getUsers',
            "sServerMethod": 'POST'
        });
        $("#refreshTable").click(function(){
            var icon;
            icon = $("#refreshTableIcon");
            icon.addClass("icon-spin");
            usersTable.fnReloadAjax();
            icon.removeClass("icon-spin")
        });
    })
</script>
{% include "../includes/footer.template" %}
</body>
</html>